Package: com.dgh0st.defaultpage
Name: DefaultPage
Depends: mobilesubstrate
Version: 0.0.7
Architecture: iphoneos-arm
Description: Set the default homescreen page.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
