Package: com.dgh0st.defaultpage
Name: DefaultPage
Depends: mobilesubstrate, applist, preferenceloader
Version: 0.0.21
Architecture: iphoneos-arm
Description: Set the default homescreen page.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
